/*Social Media Links Section*/

.social {
  color: #777777;
  align-content: center;
  margin-top: 3em;
  margin-left: 9em;
}

.social a{
	padding: 2em;
    color: #777777;
}

.social a:hover{
	color: #91A8D0;
	transition-duration: 1s;
}



.fab{
  font-size: 3em;
}
.fab:hover{
  color: cornflowerblue;
  transition-duration: 1s;
}
