/*Social Media Links Section*/

.social{
	color: #777777;
	align-content: center;
	margin-top: 2em;
	margin-left: 15%;
}

.social a{
	padding: 2em;
    color: #777777;
}

.social a:hover{
	color: #91A8D0;
	transition-duration: 1s;
}

/*Tooltip*/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}