<p class="title">SKILLS</p>



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
	       <fusioncharts
            [id]="id"
            [width]="width"
            [height]="height"
            [type]="type"
            [dataFormat]="dataFormat"
            [dataSource]="dataSource">
            </fusioncharts>
        </div>

         <div class="col-lg-12">
           <fusioncharts
            [id]="id"
            [width]="width"
            [height]="height"
            [type]="type"
            [dataFormat]="dataFormat"
            [dataSource]="dataSource">
            </fusioncharts>
        </div>
    </div>
</div>
	
