



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">

          <p class="title"> MY EXPERIENCE <i class="fas fa-hard-hat" aria-hidden="true"></i></p>
          <p class="page-description">Here's a look at my work experience from my time at University and afterwards. Click on the icons below to see my experience with each (click again to minimize).</p>




          <!-- START ICONS FOR WORK EXPERIENCE SECTION -->
          <div class="row">
            <div class="main container col-lg-12">

              <p></p>
              <p>
                <a data-toggle="collapse" href="#janssen" role="button" aria-expanded="false" aria-controls="janssen"><img class="janssenicon" src="assets\img\janssenicon.png"></a>

                <a data-toggle="collapse" href="#bmo" role="button" aria-expanded="false" aria-controls="bmo"><img class="bmoicon" src="assets\img\bmoicon.jpeg"></a>

                <a data-toggle="collapse" href="#ppg" role="button" aria-expanded="false" aria-controls="ppg"><img class="ppgicon" src="assets\img\ppgicon.png"></a>

                <a data-toggle="collapse" href="#indigo" role="button" aria-expanded="false" aria-controls="indigo"><img class="indigoicon" src="assets\img\indigoicon.jpeg"></a>

                <a data-toggle="collapse" href="#lifeworks" role="button" aria-expanded="false" aria-controls="lifeworks"><img class="lifeicon" src="assets\img\lifeworksicon.png"></a>
              </p>
            </div>
          </div>

          <!-- -------- CARD DATA : 1 ---------- -->

          <div class="row" id="accordion">

            <div class="col-lg-12">
              <div class="collapse multi-collapse" id="janssen">
                <div class="card card-body">
                  <div class="row">
                  <div class="col-lg-3"><img class="logo" src="assets\img\janssen.png" alt="janssen logo"></div>
                  <div class="col-lg-9">
                    <p class="companyName">Janssen Inc. // Johnston & Johnston</p>
                    <p class="position">Sharepoint Developer + Project Manager</p>
                    <p class="duration">Since 2017 - Present</p>
                    <p class="responsibilities">Task 1: Provide customized web solutions for internal business partners using HTML, CSS, JS, as well as Document Libraries, Lists and Design Templates as requested.</p>
                    <p class="responsibilities">Task 2: Created process for incoming medical event data using Microsoft Power Automate, and Dataiku to ensure accurate, and bi-weekly reports are created to aide in strategic business decisions.</p>
                  </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="collapse multi-collapse" id="bmo">
                <div class="card card-body">
                  <div class="row">
                  <div class="col-lg-3"><img class="logo" src="assets\img\bmo.png" alt="bmo logo"></div>
                  <div class="col-lg-9">
                    <p class="companyName">Bank of Montreal (BMO)</p>
                    <p class="position">Sharepoint Specialist</p>
                    <p class="duration">7 Months - 2021</p>
                    <p class="responsibilities">Task 1: Develop and customize web parts using C#, HTML, CSS, and JS to fullfil business needs on both SharePoint 2013</p>
                    <p class="responsibilities">Task 2: Manage time to complete daily ticket requests and build scalable projects as needed while communicating needs directly to business partners.</p>
                  </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="collapse multi-collapse" id="ppg">
                <div class="card card-body">
                  <div class="row">
                  <div class="col-lg-3"><img class="logo" src="assets\img\ppg.png" alt="ppg logo"></div>
                  <div class="col-lg-9">
                    <p class="companyName">PPG Industries Inc.</p>
                    <p class="position">Shopify Lead Developer + Web Developer</p>
                    <p class="duration">6 Months - 2020</p>
                    <p class="responsibilities">Task 1: make front-end SEO upgrades, recognize issues, refactor code to resolve bugs and aid in maintenance of various sites in MVC .Net environment.</p>
                    <p class="responsibilities">Task 2: Update and keep track of code using Git, Visual Studio, and MS Azure DevOps</p>
                    <p class="responsibilities">Task 3: Setup and modified Shopify eCommerce store of Johnstone's Paint in UK (<a href="https://www.johnstonespaint.com/buy-paint-online">view here</a>)</p>
                    <p class="responsibilities">Task 4: Customized themes, and page templates using liquify as well as SEO upgrades as required</p>
                  </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="collapse multi-collapse" id="indigo">
                <div class="card card-body">
                  <div class="row">
                  <div class="col-lg-3"><img class="logo" src="assets\img\indigo.jpeg" alt="indigo logo"></div>
                  <div class="col-lg-9">
                    <p class="companyName">Indigo Inc.</p>
                    <p class="position">Customer Experience Representative</p>
                    <p class="duration">7 Months - 2016</p>
                    <p class="responsibilities">Task 1: Engage, inspire customers and make connections with customers to create warm environment and leave the customers with a lasting, positive impression by referring and finding specific products.</p>
                    <p class="responsibilities">Task 2: I was trained in book, tech and helped in restocking shelves, and setting up special guest events.</p>
                  </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="collapse multi-collapse" id="lifeworks">
                <div class="card card-body">
                  <div class="row">
                  <div class="col-lg-3"><img class="logo" src="assets\img\lifeworks.png" alt="lifeworks logo"></div>
                  <div class="col-lg-9">
                    <p class="companyName">Morneau Shepell Inc. - Now: Lifeworks</p>
                    <p class="position">Web Engineer Internship (Paid)</p>
                    <p class="duration">3 Months - 2014</p>
                    <p class="responsibilities">Task 1: AODA testing/reporting using Selenium IDE on production sites, followed by making needed changes to sites to bring rating to at least Level AA (as per Ontario requirements).</p>
                    <p class="responsibilities">Task 2: Integration of AngularJS into .NET MVC Framework and creating pixel perfect, customized dashboard using HTML, CSS, JS from provided wireframe design.</p>
                  </div>
                  </div>
                </div>
              </div>
            </div>


          </div> <!-- END : LANGUAGES -->


        </div>
    </div>
</div>
