



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
	    <!--    <fusioncharts
            [id]="langlib"
            [width]="width"
            [height]="height"
            [type]="type"
            [dataFormat]="dataFormat"
            [dataSource]="dataSource">
            </fusioncharts> -->

            <p class="title">LANGUAGES</p>
            
            <ul class="skills-bar-container">

                <li>
                    <div class="progressbar-title">
                        <h3 class="text-animation">HTML5</h3>
                        <span class="percent" id="html-pourcent"></span>
                    </div>
                    <div class="bar-container">
                        <span class="progressbar progresspink" id="progress-html"></span>
                    </div>
                </li>
                <li>
                    <div class="progressbar-title">
                        <h3 class="text-animation">CSS3</h3>
                        <span class="percent" id="css-pourcent"></span>
                    </div>
                    <div class="bar-container">
                    <span class="progressbar progressblue" id="progress-css"></span>
                    </div>
                </li>
  
                <li>
                    <div class="progressbar-title">
                        <h3 class="text-animation">JavaScript</h3>
                        <span class="percent" id="javascript-pourcent"></span>
                    </div>
                    <div class="bar-container">
                    <span class="progressbar progresspink" id="progress-javascript"></span>
                    </div>
                </li>
  
                <li>
                    <div class="progressbar-title">
                      <h3 class="text-animation">JAVA</h3>
                      <span class="percent" id="java-pourcent"></span>
                    </div>
                    <div class="bar-container">
                      <span class="progressbar progressblue" id="progress-java"></span>
                    </div>
                </li>

                <li>
                    <div class="progressbar-title">
                      <h3 class="text-animation">C#</h3>
                      <span class="percent" id="c-pourcent"></span>
                    </div>
                    <div class="bar-container">
                      <span class="progressbar progresspink" id="progress-c"></span>
                    </div>
                </li>
                  
  
            </ul>
        </div>

         <div class="col-lg-12">

            <p class="title">FRAMEWORKS</p>
           <!-- <fusioncharts
            [id]="frameworks"
            [width]="width"
            [height]="height"
            [type]="type"
            [dataFormat]="dataFormat"
            [dataSource]="dataSource">
            </fusioncharts> -->

            <ul class="skills-bar-container">

                <li>
                    <div class="progressbar-title">
                        <h3 class="text-animation">Angular 4</h3>
                        <span class="percent" id="html-pourcent"></span>
                    </div>
                    <div class="bar-container">
                        <span class="progressbar progresspink" id="progress-angular"></span>
                    </div>
                </li>
                <li>
                    <div class="progressbar-title">
                        <h3 class="text-animation">CSS / SASS</h3>
                        <span class="percent" id="css-pourcent"></span>
                    </div>
                    <div class="bar-container">
                    <span class="progressbar progressblue" id="progress-css"></span>
                    </div>
                </li>
  
                <li>
                    <div class="progressbar-title">
                        <h3 class="text-animation">JavaScript / jQuery</h3>
                        <span class="percent" id="javascript-pourcent"></span>
                    </div>
                    <div class="bar-container">
                    <span class="progressbar progresspink" id="progress-javascript"></span>
                    </div>
                </li>
  
                <li>
                    <div class="progressbar-title">
                      <h3 class="text-animation">PHP</h3>
                      <span class="percent" id="php-pourcent"></span>
                    </div>
                    <div class="bar-container">
                      <span class="progressbar progressblue" id="progress-php"></span>
                    </div>
                </li>
                  
                <li>
                    <div class="progressbar-title">
                      <h3 class="text-animation">AngularJS</h3>
                      <span class="percent" id="angular-pourcent"></span>
                    </div>
                    <div class="bar-container">
                      <span class="progressbar progresspink" id="progress-angular"></span>
                    </div>
                </li>
  
            </ul>

          
        </div>
    </div>
</div>
	
