/*.circle-image {
  border-radius: 100%;
  max-width: 250px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: transparent;
  box-shadow: 0 52px 58px 0 rgba(128, 128, 128, 0.2), 0 0px 72px 0 rgba(128, 128, 128, 1.0);
}
.circle-image:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.circle-image img {
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}*/

.soundcloud{
  margin-top: 4%;
  margin-left: 2%;
}

.soundcloud img{
  height: 50px;
  width: 50px;
}

.linkedin{
  margin-top: -7%;
  margin-left: 50%;
}

.linkedin img{
  height: 150px;
  width: 150px;
}

.twitter{
  margin-top: -8%;
  margin-left: 25%;
}

.twitter img{
  height: 80px;
  width: 80px;
}