
  <div class="soundcloud animated fadeIn">
    <img src="assets\img\soundcloud.png">
  </div>

   <div class="linkedin animated fadeIn">
    <img src="assets\img\linkedin.png">
  </div>

  <div class="twitter animated fadeIn">
    <img src="assets\img\twitter.png">
  </div>

 <!--  <div class="circle-image">
    <img src="assets\img\spotify.png">
  </div> -->


<!--   <div class="circle-image">
    <img src="assets\img\github.png">
  </div> -->



  <!-- SOCIAL
			1. LinkedIn
			2. SoundCloud
			3. Twitter
			4. Instagram
			5. Facebook
			6. GitHub

   -->