



<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <p class="title"> TOOLS <i class="fa fa-wrench" aria-hidden="true"></i></p>
      <p>Through out university, internships, and various self projects, I've obtained skills in a variety of languages and frameworks. Here is a sample of the technologies I am familar with!</p>
      <div class="main container col-lg-9">
        <ul>
          <li>
            <i class="fab fa-html5" data-toggle="tooltip" title="HTML5" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fab fa-css3-alt" data-toggle="tooltip" title="CSS3" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fab fa-js" data-toggle="tooltip" title="JavaScript" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fab fa-bootstrap" data-toggle="tooltip" title="Bootstrap" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fab fa-angular" data-toggle="tooltip" title="Angular" aria-hidden="true"></i>
          </li>
</ul>
        <ul>
          <li>
            <i class="fab fa-git-square" data-toggle="tooltip" title="Git" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fab fa-node" data-toggle="tooltip" title="NodeJS" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fab fa-react" data-toggle="tooltip" title="React" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fab fa-less" data-toggle="tooltip" title="less" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fab fa-sass" data-toggle="tooltip" title="Sass" aria-hidden="true"></i>
          </li>
          </ul>

        <ul>
          <li>
            <i class="fab fa-linux" data-toggle="tooltip" title="Linux" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fab fa-adobe" data-toggle="tooltip" title="Adobe" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fab fa-microsoft" data-toggle="tooltip" title="MS Certified Developer" aria-hidden="true"></i>
          <li>
            <i class="fab fa-invision" data-toggle="tooltip" title="Invision" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fab fa-java" data-toggle="tooltip" title="JAVA" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fab fa-npm" data-toggle="tooltip" title="npm" aria-hidden="true"></i>
          </li>


        </ul>
      </div>


      <!--<ul class="skills-bar-container">

        <li>
          <div class="progressbar-title">
            <h3 class="text-animation">HTML5</h3>
            <span class="percent" id="html-pourcent"></span>
          </div>
          <div class="bar-container">
            <span class="progressbar progresspink" id="progress-html"></span>
          </div>
        </li>
        <li>
          <div class="progressbar-title">
            <h3 class="text-animation">CSS3</h3>
            <span class="percent" id="css-pourcent"></span>
          </div>
          <div class="bar-container">
            <span class="progressbar progressblue" id="progress-css"></span>
          </div>
        </li>

        <li>
          <div class="progressbar-title">
            <h3 class="text-animation">JavaScript</h3>
            <span class="percent" id="javascript-pourcent"></span>
          </div>
          <div class="bar-container">
            <span class="progressbar progresspink" id="progress-javascript"></span>
          </div>
        </li>

        <li>
          <div class="progressbar-title">
            <h3 class="text-animation">JAVA</h3>
            <span class="percent" id="java-pourcent"></span>
          </div>
          <div class="bar-container">
            <span class="progressbar progressblue" id="progress-java"></span>
          </div>
        </li>

        <li>
          <div class="progressbar-title">
            <h3 class="text-animation">C#</h3>
            <span class="percent" id="c-pourcent"></span>
          </div>
          <div class="bar-container">
            <span class="progressbar progresspink" id="progress-c"></span>
          </div>
        </li>


      </ul>-->
    </div>

    <!--<div class="col-lg-12">

      <p class="title">FRAMEWORKS</p>

      <ul class="skills-bar-container">

        <li>
          <div class="progressbar-title">
            <h3 class="text-animation">Angular 4</h3>
            <span class="percent" id="html-pourcent"></span>
          </div>
          <div class="bar-container">
            <span class="progressbar progresspink" id="progress-angular"></span>
          </div>
        </li>
        <li>
          <div class="progressbar-title">
            <h3 class="text-animation">CSS / SASS</h3>
            <span class="percent" id="css-pourcent"></span>
          </div>
          <div class="bar-container">
            <span class="progressbar progressblue" id="progress-css"></span>
          </div>
        </li>

        <li>
          <div class="progressbar-title">
            <h3 class="text-animation">JavaScript / jQuery</h3>
            <span class="percent" id="javascript-pourcent"></span>
          </div>
          <div class="bar-container">
            <span class="progressbar progresspink" id="progress-javascript"></span>
          </div>
        </li>

        <li>
          <div class="progressbar-title">
            <h3 class="text-animation">PHP</h3>
            <span class="percent" id="php-pourcent"></span>
          </div>
          <div class="bar-container">
            <span class="progressbar progressblue" id="progress-php"></span>
          </div>
        </li>

        <li>
          <div class="progressbar-title">
            <h3 class="text-animation">AngularJS</h3>
            <span class="percent" id="angular-pourcent"></span>
          </div>
          <div class="bar-container">
            <span class="progressbar progresspink" id="progress-angular"></span>
          </div>
        </li>

      </ul>


    </div>-->
  </div>
</div>

