



<div class="container-fluid">
  <p class="title"> MY SKILLS <i class="fa fa-wrench" aria-hidden="true"></i></p>
  <p class="page-description">Through out university, internships, and various self projects, I've obtained skills in a variety of languages and frameworks. Here is a sample of the technologies I am familar with! Click on the icons below to see my experience with each (click again to minimize).</p>




  <!-- START ICONS FOR LANGUAGE SECTION -->
  <div class="row">
    <div class="main container col-lg-12">

      <p>LANGUAGES</p>
      <p>
        <a class="btn btn-fancy fab fa-html5" data-toggle="collapse" href="#html5" role="button" aria-expanded="false" aria-controls="html5"></a>

        <a class="btn btn-fancy fab fa-css3-alt" data-toggle="collapse" href="#css3" role="button" aria-expanded="false" aria-controls="css3"></a>

        <a class="btn btn-fancy fab fa-js" data-toggle="collapse" href="#js" role="button" aria-expanded="false" aria-controls="js"></a>

        <a class="btn btn-fancy fab fa-java" data-toggle="collapse" href="#java" role="button" aria-expanded="false" aria-controls="java"></a>

        <a class="btn btn-fancy" data-toggle="collapse" href="#csharp" role="button" aria-expanded="false" aria-controls="csharp">C#</a>
      </p>
    </div>
  </div>

  <!-- -------- CARD DATA : 1 ---------- -->

  <div class="row" id="accordion">

    <div class="col-lg-12">
      <div class="collapse multi-collapse" id="html5">
        <div class="card card-body">
          <p>My proficiency in HTML and HTML5: Expert </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%"> 95% </div>
          </div>
          <p>I have a solid understanding of the building blocks (or tags) of any webpage.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="collapse multi-collapse" id="css3">
        <div class="card card-body">
          <p>My proficiency in CSS and CSS3: Expert </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%"> 95% </div>
          </div>
          <p>I can turn that HTML come to life with super styling skills. I also have knowledge of how to use LESS and SASS preprocessors.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="collapse multi-collapse" id="js">
        <div class="card card-body">
          <p>My proficiency in Javascript: Expert </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">90%</div>
          </div>
          <p>The brains of the application. I can write functions that use different libraries (jQuery, for example) or just vanilla javascript, to achieve the desired behaviour of a web part.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="collapse multi-collapse" id="java">
        <div class="card card-body">
          <p>My proficiency in Java: Intermediate - Expert </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
          </div>
          <p>The main programming language for algorithms and assignments in University - it's a favourite of mine - and my go to!</p>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="collapse multi-collapse" id="csharp">
        <div class="card card-body">
          <p>My proficiency in C#: Intermediate </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70%</div>
          </div>
          <p>Similar to Java, I have only just been able to apply what I have learned to the real world through a project while freelancing. I'm becoming more comfortable with this.</p>
        </div>
      </div>
    </div>


  </div> <!-- END : LANGUAGES -->


  <div class="row">
    <div class="main container col-lg-12">
      <p>LIBRARIES & FRAMEWORKS</p>
      <p>
        <a class="btn btn-fancy fab fa-bootstrap" data-toggle="collapse" href="#bootstrap" role="button" aria-expanded="false" aria-controls="bootstrap"></a>

        <a class="btn btn-fancy fab fa-angular" data-toggle="collapse" href="#angular" role="button" aria-expanded="false" aria-controls="angular"></a>

        <a class="btn btn-fancy fab fa-react" data-toggle="collapse" href="#react" role="button" aria-expanded="false" aria-controls="react"></a>

        <a class="btn btn-fancy fab fa-node" data-toggle="collapse" href="#node" role="button" aria-expanded="false" aria-controls="node"></a>
      </p>
    </div>
  </div>


  <!-- -------- CARD DATA : 2 ---------- -->

  <div class="row">
    <div class="col-lg-12">
      <div class="collapse multi-collapse" id="bootstrap">
        <div class="card card-body">
          <p>My proficiency in Twitter Bootstrap: Expert </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
          </div>
          <p>I frequently use the Twitter Bootstrap framework's grid system to ensure that my projects are made for different screen sizes. I also use several of the other UI features such as jumbotron and modal functionalities.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="collapse multi-collapse" id="angular">
        <div class="card card-body">
          <p>My proficiency in AngularJS / Angular 8+: Intermediate </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70%</div>
          </div>
          <p>I've created several projects using AngularJS, as well as newer versions of Angular. This website is an example of one of my projects created with Angular.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="collapse multi-collapse" id="react">
        <div class="card card-body">
          <p>My proficiency in React: Beginner </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 40%">40%</div>
          </div>
          <p>While I've created several apps with React, I'm still learning to grasp the newer additions in the latest update, and becoming more comfortable with it.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="collapse multi-collapse" id="node">
        <div class="card card-body">
          <p>My proficiency in NodeJS: Intermediate </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70%</div>
          </div>
          <p>I'm comfortable with using NodeJS as a server environment for my Angular and React projects. I also use NodeJS for testing using JasmineJS.</p>
        </div>
      </div>
    </div>



  </div> <!-- END : LIBRARIES AND FRAMEWORKS -->

  <div class="row">
    <div class="main container col-lg-12">
      <p>SOFTWARE & MISCELLANEOUS</p>
      <p>
        <a class="btn btn-fancy fab fa-github" data-toggle="collapse" href="#github" role="button" aria-expanded="false" aria-controls="github"></a>

        <a class="btn btn-fancy fab fa-shopify" data-toggle="collapse" href="#shopify" role="button" aria-expanded="false" aria-controls="shopify"></a>

        <a class="btn btn-fancy" data-toggle="collapse" href="#database" role="button" aria-expanded="false" aria-controls="database"><i class="fas fa-database"></i></a>

        <a class="btn btn-fancy fab fa-microsoft" data-toggle="collapse" href="#microsoft" role="button" aria-expanded="false" aria-controls="microsoft"></a>

        <a class="btn btn-fancy fab fa-adobe" data-toggle="collapse" href="#adobe" role="button" aria-expanded="false" aria-controls="adobe">A</a>


      </p>
    </div>
  </div>

  <!-- -------- CARD DATA : 3 ---------- -->

  <div class="row">
    <div class="col-lg-12">
      <div class="collapse multi-collapse" id="github">
      <div class="card card-body">
        <p>My proficiency in GitHub/Git: Intermediate </p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70%</div>
        </div>
        <p>I've used both GitHub as well as Git in an enterprise environment, and for personal projects, and group assignments and labs at school.</p>
        </div>
      </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="collapse multi-collapse" id="shopify">
        <div class="card card-body">
          <p>My proficiency in Shopify: Beginner </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 40%">40%</div>
          </div>
          <p>Though working with Shopify templates for only a short while, I am comfortable making customizations using CSS, HTML, and Liquify.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="collapse multi-collapse" id="database">
        <div class="card card-body">
          <p>My proficiency in Databases: Intermediate </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 60%">60%</div>
          </div>
          <p>I'm comfortable in creating and queriying databases in both Microsoft SQL, and MongoDB.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="collapse multi-collapse" id="microsoft">
        <div class="card card-body">
          <p>My proficiency in Microsoft Products: Expert </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
          </div>
          <p>I'm very comfortable with the Microsoft Office Suite, use Microsoft Visual Studio for most projects, and am comfortable using Sharepoint Developer, and Power Automate as well.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="collapse multi-collapse" id="adobe">
        <div class="card card-body">
          <p>My proficiency in Adobe Software Suite: Intermediate/Expert</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
          </div>
          <p>I am comfortable using Photoshop, Illustrator, XD, as well as InDesign to edit photographs and create video content, and frequently use the applications to create wireframes for personal projects, and for my current certification in UX fundimentals.</p>
        </div>
      </div>
    </div>


   <!-- END THIRD SECTION : SOFTWARE AND MISCELLANEOUS -->
