<p>
  <img src="assets\img\avatar.png">
</p>
<div class="about">
	<p>{{greeting}}</p>
	<br>
	<p>B.Sc. Computer Science</p>
	<p>Lassonde School of Engineering at York University. </p>

	<hr>
	<p>I enjoy keeping up with the ever changing world of technology, especially front end. I also enjoy working with Maya to create animations and 3D models. In my spare time, I enjoy listening to and recording music. I play the guitar and piano, and have a book collection of over 200 books. I also enjoy watching movies, anime and playing video games. </p>
	
	

</div>

<router-outlet></router-outlet>